<div class="row">
  <div class="col-sm title center-v">
       <div class="pl-4">
        <div>
            <h2>Food Ordering Online</h2>
             <h4>Admin Dashboard</h4>
        </div>
        <br><br>
        <div>
            <h6>Manage Dynamic Content for your website</h6>
            <h6>An Optimal, Reliable and Dynamic Web Bckend</h6>
            <h6>Modren Secure Interface based on google Cloud</h6>
        </div>
       </div>
  </div>
  <div class="col-sm bg-light center">
     <div class="border border-secondary px-5 py-4 w-90">
        <div>
                <div class="form-group">
                  <label for="Email">Email address</label>
                  <input type="email" class="form-control" id="Email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" id="Password" [(ngModel)]="password">
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary w-100" (click)="onValidate()">Submit</button>
                </div>
        </div>
     </div>
       
  </div>
</div>

